[include]
		path = ~/.gitconfig.dracula
[user]
	name = Alexander Christian
	email = alexanderechristian@gmail.com
[init]
	defaultBranch = main
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[push]
  autoSetupRemote = true
[delta]
	navigate = true			# use n and N to move between diff sections

	# delta detects terminal colors automatically
	# set one of these to disable auto-detection
	# dark = true
	# light = true
[merge]
	conflictStyle = zdiff3
